.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.square {
  width: 50px;      
  height: 50px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 36px;
  line-height: 50px; 
  text-align: center;
  margin: 0;
  padding: 0;
}

.boardRow {
  display: flex;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}


