.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #ffffffc3;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.titles {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Trebuchet MS', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2% auto;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.square {
  width: 100px;      
  height: 100px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.square:hover {
  background-color: #f0f0f075;
  cursor: pointer;
}

.boardRow {
  display: flex;
}

.status {
  margin-top: 10%;
  font-weight: bold;
  font-size: 2rem;
  font-family: Tahoma, sans-serif;
}

.refresh {
  margin-top: 5%;
  font-size: 1.2rem;
  font-style: italic;
  color: #6e5597;
}

